services:
    -
        class: staabm\PHPStanDba\Rules\SyntaxErrorInPreparedStatementMethodRule
        tags: [phpstan.rules.rule]
        arguments:
            classMethods:
                - 'staabm\PHPStanDba\Tests\Fixture\Connection::preparedQuery'
                - 'staabm\PHPStanDba\Tests\Fixture\PreparedStatement::__construct'
                - 'staabm\PHPStanDba\Tests\Fixture\BaseQueryClass::doQuery'

    -
        class: staabm\PHPStanDba\Rules\SyntaxErrorInQueryMethodRule
        tags: [phpstan.rules.rule]
        arguments:
            classMethods:
                - 'staabm\PHPStanDba\Tests\Fixture\BaseQueryClass::doQuery#0'

    -
        class: staabm\PHPStanDba\Rules\SyntaxErrorInQueryAssemblerRule
        tags: [phpstan.rules.rule]
        arguments:
            classMethods:
                - 'staabm\PHPStanDba\Tests\Fixture\Connection::assembleNoArrays'
                - 'staabm\PHPStanDba\Tests\Fixture\Connection::assembleOneArray#1'
                - 'staabm\PHPStanDba\Tests\Fixture\Connection::assembleTwoArrays#1,2'
